.image-container {
    position: center;
    height: 1050px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation-fill-mode: forwards; 
 }

 .image-container.fade-in{
    opacity: 1;
 }
 
@keyframes background-fadeIn {
 0% {
        visibility: visible ;
    opacity: 0;
 }
 100% {
    visibility: hidden;
    opacity: 1;
 }

 }
 

@keyframes background-zoomOut {
    0% {
        opacity: 1;
        visibility: visible;
        
    }
     
    100% {
        visibility: hidden;
        opacity: 0;
        
    }
    }




@keyframes line1Unveil {
    0% {
        
    }
    12.5% {
        width: 0;

    }
    100% {
        width: 300px;
    }
}

@keyframes line2Unveil {
    0% {
    }
    12.5% {
        width: 0;
    }
    100% {
        width: 300px;
        
    }
    }

    @keyframes line3Unveil {
        0% {
        }
        12.5% {
            width: 0;
        }
        100% {
            width: 300px;
        }
            }

            @keyframes line1Scene2Unveil {
                0% {
                }
                12.5% {
                    width: 0;
                }
                100% {
                    width: 300px;
                }
                    }
        

#adWrapper {
    width: 400px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

#adScene1 {

    opacity: 0; /*default opacity of 0*/
    
    
    position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 1050px;
    left: -531px;
    top: -60px;
    opacity: 0;

    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: background-fadeIn;
    animation-duration: 5s;
    animation-delay: 0s;
    
}

#adScene2 {
    opacity: 0; /*default opacity of 0*/
    
    
    position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 400px;
    height: 1050px;
    left: 0;
    top: 0;
    opacity: 0;

    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: background-zoomOut;
    animation-duration: 4s;
    animation-delay: 5s;
    
}


#studentID {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 16px;
    color: white;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 9s;
}



    
